.date-time {
  display: inline-flex;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 24px;
}

.date-time div {
  margin-right: 10px;
}

@media only screen and (max-width: 480px) {
  .date-time {
    font-size: 14px;
  }
}
