#search-bar form {
  border: 1px solid #ececec;
  box-sizing: border-box;
  height: 44px;
  border-radius: 6px;
  display: flex;
  padding-left: 4px;
  margin-top: 20px;
}

#search-bar form:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
}

#search-bar input {
  font: 18px / normal "Roboto", Helvetica, Sans-Serif;
  border: none;
  flex-grow: 1;
  padding: 12px 0 12px 12px;
}

#search-bar input:focus {
  outline-width: 0;
}

form span {
  padding: 10px;
  cursor: pointer;
}

#search-bar small {
  color: #767676;
  vertical-align: bottom;
  margin-left: 4px;
  cursor: pointer;
}

#search-bar small:hover {
  text-decoration: underline;
}
